
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("./Images/wallpaper2.jpg");
  background-position: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 70px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}






